admin用のuser詳細

<div class="container">
  <div class="row">

    <div class="mx-auto">
      <h3><%= @user.id %></h3>
      <div>
          <table class="table">
            <tr>
              <th>名前</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
            </tr>
          </table>
      </div>
    </div>

  </div>
</div>